* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-nunito;
    font-size: $font-size;
    color: $dark;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-web;
    margin: 0;
}

h2 {
    font-size: 18px;
}

