
$primary-orange-dark:#F23005;
$primary-orange-light:#F27140;
$primary-blue: #023375;
$sec-blue-dark: #0442BF;
$sec-blue-light: #034AA5;
$dark: #0D0D0D;
$white: #FFFF;

$font-nunito: 'Nunito', sans-serif;
$font-web: 'Titillium Web', sans-serif;
$font-size: 14px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxl-4k: 2540px;